:root {
    --color-body: rgba(194, 193, 243, 0.527);
    --color-card-container: white;
    --color-card-down: hsla(40, 10%, 6%, 0.822);
    --color-card-up:  rgb(50, 105, 206);
    --color-card-selected: hsl(354, 78%, 60%);
    --color-border-container: black;
    --color-icon: white;
    --color-shadow: aliceblue;
    --color-border-card:rgb(67, 103, 139);
    --color-title-text: hsl(354, 78%, 60%);
}

:root:has(input:checked) .bodi_button{
    --color-body: black;
    --color-card-container:rgb(72.9, 76.9, 93.3);
    --color-card-down: hsla(40, 10%, 6%, 0.822);
    --color-card-up:  hsl(354, 78%, 60%);
    --color-card-selected:rgb(199, 202, 225);
    --color-border-container: white;;
    --color-icon:rgb(50, 105, 206);
    --color-shadow: hsla(27, 15%, 12%, 0.411);
    --color-border-card:  lightslategray;
    --color-title-text: rgb(199, 202, 225);
}
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: var(--color-body);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.switch {
    border-radius: 15px;
    background-color: var(--color-card-container);
    color: var(--color-title-text);
    margin-top: 10px;
    width: 130px;
    margin-left: 370px;
    font-weight: 700;
    font-size: 20px;
}
.title {
    color:var(--color-title-text);
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
}

.cards-container {    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 500px;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    gap: 10px;
    border: 1px solid var(--color-border-container);
    background-color: var(--color-card-container);    
}

.card {    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    border-radius: 50%;
    color: var(--color-icon);
    border: 1px solid var(--color-border-card);
}

.card.down {
    background: var(--color-card-down);
}

.card.up {
    background-color: var(--color-card-up);
}
.card.selected {
    background-color: var(--color-card-selected);
}

@media screen and (max-width: 1024px) {
    .switch {
        width: 110px;        
        margin-left: 300px;
        font-weight: 700;
        font-size: 15px;
    }
    .title {
        font-size: 30px;
    }
    .cards-container {    
        height: 400px;
        width: 400px;  
    }
    .card {    
        font-size: 60px;
    }
}
@media screen and (max-width: 770px) {
    .switch {
        width: 100px;        
        margin-left: 270px;
        font-weight: 700;
        font-size: 13px;
    }
    .title {
        font-size: 26px;
    }
    .cards-container {    
        height: 360px;
        width: 360px;  
    }
    .card {    
        font-size: 50px;
    }
}

@media screen and (max-width: 450px) {
    .switch {
        width: 90px;        
        margin-left: 250px;
        font-weight: 700;
        font-size: 12px;
    }
    .title {
        font-size: 24px;
    }
    .cards-container {    
        height: 340px;
        width: 340px;  
    }
    .card {    
        font-size: 45px;
    }
}

@media screen and (max-width: 380px) {
    .switch {  
        width: 90px;      
        margin-left: 230px;
        font-size: 11px;
    }
    .title {
        font-size: 22px;
    }
    .cards-container {    
        height: 320px;
        width: 320px;  
    }
    .card {    
        font-size: 40px;
    }
}

@media screen and (max-width: 320px) {
    .switch {     
        width: 80px;   
        margin-left: 220px;
        font-size: 10px;
    }
    .title {
        font-size: 20px;
    }
    .cards-container {    
        height: 300px;
        width: 300px;  
    }
    .card {    
        font-size: 35px;
    }
}